<div class="container">
	<section class="editorWrap">
		<h1 class="animate dropIn">Random Gist</h1>
		<div class="editor animate fadeIn">
			<div class="menu"></div>
			<div class="code">
				<textarea class="text">
					<script src="https://gist.github.com/2974111.js"> </script>
					<%= random_gist_number</textarea>
			</div>
		</div>
	</section>
	<p>&nbsp;</p>
</div>