<div class="container">
	<section class="editorWrap">
		<h1 class="animate dropIn">Random Gist</h1>
		<div class="editor animate fadeIn">
			<div class="menu"></div>
			<div class="code">
				<script src=<%= random_gist_url %>> </script>
			</div>
		</div>
	</section>
	<p>&nbsp;</p>
</div>