

html {
	font-smoothing: always !important;
	-webkit-font-smoothing: antialiased !important;
	background-color: #00CCFF;
	// background: url('https://s3.amazonaws.com/imjakechapman/demos/texteditor/bg.jpg') #1882b4 no-repeat 0 0;
	// -webkit-background-size: cover;
	// -moz-background-size: cover;
	// -ms-background-size: cover;
	// background-size: cover;
	height: 100%;
	width: 100%;
}

body {
	height: 100%;
	color: #333333;
	font-family: "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 400;
	-webkit-text-shadow: 0 1px 1px rgba(255,255,255, .5);
	-moz-text-shadow: 0 1px 1px rgba(255,255,255, .5);
	-ms-text-shadow: 0 1px 1px rgba(255,255,255, .5);
	-o-text-shadow: 0 1px 1px rgba(255,255,255, .5);
	text-shadow: 0 1px 1px rgba(255,255,255, .5);
	font-smoothing: always !important;
	-webkit-font-smoothing: antialiased !important;
}

.container {
	height: 100%;
	width: 100%;
	text-align: left;
}
.container:before {
	content: "";
	display: inline-block;
	height: 50%;
	vertical-align: middle;
	margin-right: -0.25em;
}

.editorWrap {
	position: relative;
	display: inline-block;
}

.editorWrap h1 {
	color: #333333;
	font-size: 20px;
	font-weight: 800;
	margin: 15px auto;
}

.editor {
	width: 100%;
}

.editor .menu {
	width: 598px;
	height: 25px;
	background: #eee;
	border-width:1px 1px 0 1px;
	border-style: solid;
	border-color: #959595;


	/* CSS3 properties */
	-webkit-border-top-right-radius: 5px;
	-webkit-border-top-left-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;

	background-color: #ccc;
	background-image: -webkit-linear-gradient(#d2d2d2 0%, #959595 100%);
	background-image: -moz-linear-gradient(#d2d2d2 0%, #959595 100%);
	background-image: -o-linear-gradient(#d2d2d2 0%, #959595 100%);
	background-image: -ms-linear-gradient(#d2d2d2 0%, #959595 100%);
	background-image: linear-gradient(#d2d2d2 0%, #959595 100%);

	-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255, .5), inset 0 -1px 0 rgba(0,0,0, .2);
	-moz-box-shadow: inset 0 1px 0 rgba(255,255,255, .5), inset 0 -1px 0 rgba(0,0,0, .2);
	-ms-box-shadow: inset 0 1px 0 rgba(255,255,255, .5), inset 0 -1px 0 rgba(0,0,0, .2);
	-o-box-shadow: inset 0 1px 0 rgba(255,255,255, .5), inset 0 -1px 0 rgba(0,0,0, .2);
	box-shadow: inset 0 1px 0 rgba(255,255,255, .5), inset 0 -1px 0 rgba(0,0,0, .2);

}

.editor .code {
	width: 573px;
	height: auto;
	padding: 5px 10px 10px 15px;
	background: #222;
	border: 1px solid rgba(0,0,0, .5);

	/* CSS3 properties */
	-webkit-border-bottom-right-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-bottomleft: 5px;
	-moz-border-radius-bottomright: 5px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;

	-webkit-box-shadow:inset 15px 0 0 rgba(255,255,255, .05);
	-moz-box-shadow:inset 15px 0 0 rgba(255,255,255, .05);
	-ms-box-shadow:inset 15px 0 0 rgba(255,255,255, .05);
	-o-box-shadow:inset 15px 0 0 rgba(255,255,255, .05);
	box-shadow:inset 15px 0 0 rgba(255,255,255, .05);
}

.editor textarea.text{
	width: 560px;
	padding-left: 15px;
	height: 100%;
	background: transparent;
	outline: none;
	border: none;
	font-family: "Courier new", "american typewriter";
	font-weight: 400;
	font-size: .8em;
	line-height: 2;
	letter-spacing: 1.2px;
	color: #58bf1d;

	resize: none; /* stop textarea from being resized in webkit */
	max-width: 580px; /* prevents resizing */

	/* CSS3 properties */
	-webkit-text-shadow: 0px 0px 3px rgba(88,191,29,0.5);
	-moz-text-shadow: 0px 0px 3px rgba(88,191,29,0.5);
	-ms-text-shadow: 0px 0px 3px rgba(88,191,29,0.5);
	-o-text-shadow: 0px 0px 3px rgba(88,191,29,0.5);
	text-shadow: 0px 0px 3px rgba(88,191,29,0.5);
}

/* clear yo stuff son! */
.editor:after {
	content: "";
	height: 0;
	width: 100%;
	display: block;
	font-size: 0;
	clear: both;
}

.container p {
	font-size: 1.2em;
	margin: 0 auto;
	padding: 0;
	line-height: 1.2;
	font-style: italic;
	font-weight: 400;
}

.container p a {
	color: #333;
}



/* ////////////////////////////////////////////////////////////////// */
/* Thanks to Dan Eden for the inspiration of making my own animations */
/* ////////////////////////////////////////////////////////////////// */

.animate {
	-webkit-animation-duration: 1.5s;
	-moz-animation-duration: 1.5s;
	-ms-animation-duration: 1.5s;
	-o-animation-duration: 1.5s;
	animation-duration: 1.5s;

	-webkit-animation-timing-function: ease-in-out;
	-moz-animation-timing-function: ease-in-out;
	-ms-animation-timing-function: ease-in-out;
	-o-animation-timing-function: ease-in-out;
	animation-timing-function: ease-in-out;
}

.dropIn {
	-webkit-animation-name: dropIn;
	-moz-animation-name: dropIn;
	-ms-animation-name: dropIn;
	-o-animation-name: dropIn;
	animation-name: dropIn;
}

.fadeIn {
	-webkit-animation-name: fadeIn;
	-moz-animation-name: fadeIn;
	-ms-animation-name: fadeIn;
	-o-animation-name: fadeIn;
	animation-name: fadeIn;

	-webkit-animation-duration: 2s;
	-moz-animation-duration: 2s;
	-ms-animation-duration: 2s;
	-o-animation-duration: 2s;
	animation-duration: 2s;
}

@-webkit-keyframes dropIn {
	0% {
		-webkit-transform: translateY(-1000px);
	}
	25% {
		-webkit-transform: translateY(-1000px);
	}
	50% {
		-webkit-transform: translateY(-200px);
	}
	75% {
		-webkit-transform: translateY(15px);
	}
	85% {
		-webkit-transform: translateY(5px);
	}
	90% {
		-webkit-transform: translateY(2px);
	}
	100% {
		-webkit-transform: translateY(0);
	}
}
@-moz-keyframes dropIn {
	0% {
		-moz-transform: translateY(-1000px);
	}
	25% {
		-moz-transform: translateY(-1000px);
	}
	50% {
		-moz-transform: translateY(-200px);
	}
	75% {
		-moz-transform: translateY(15px);
	}
	85% {
		-moz-transform: translateY(5px);
	}
	90% {
		-moz-transform: translateY(2px);
	}
	100% {
		-moz-transform: translateY(0);
	}
}
@-ms-keyframes dropIn {
	0% {
		-ms-transform: translateY(-1000px);
	}
	25% {
		-ms-transform: translateY(-1000px);
	}
	50% {
		-ms-transform: translateY(-200px);
	}
	75% {
		-ms-transform: translateY(15px);
	}
	85% {
		-ms-transform: translateY(5px);
	}
	90% {
		-ms-transform: translateY(2px);
	}
	100% {
		-ms-transform: translateY(0);
	}
}
@-o-keyframes dropIn {
	0% {
		-o-transform: translateY(-1000px);
	}
	25% {
		-o-transform: translateY(-1000px);
	}
	50% {
		-o-transform: translateY(-200px);
	}
	75% {
		-o-transform: translateY(15px);
	}
	85% {
		-o-transform: translateY(5px);
	}
	90% {
		-o-transform: translateY(2px);
	}
	100% {
		-o-transform: translateY(0);
	}
}
@keyframes dropIn {
	0% {
		transform: translateY(-1000px);
	}
	25% {
		transform: translateY(-1000px);
	}
	50% {
		transform: translateY(-200px);
	}
	75% {
		transform: translateY(15px);
	}
	85% {
		transform: translateY(5px);
	}
	90% {
		transform: translateY(2px);
	}
	100% {
		transform: translateY(0);
	}
}


/* FADE IN */
@-webkit-keyframes fadeIn {
	0% {
		opacity: 0;
	}
	25% {
		opacity: 0;
	}
	50% {
		opacity: 0;
	}
	75% {
		opacity: 0;
	}
	90% {

	}
	100% {
		opacity: 1;
	}
}
@-moz-keyframes fadeIn {
	0% {
		opacity: 0;
	}
	25% {
		opacity: 0;
	}
	50% {
		opacity: 0;
	}
	75% {
		opacity: 0;
	}
	90% {

	}
	100% {
		opacity: 1;
	}
}
@-ms-keyframes fadeIn {
	0% {
		opacity: 0;
	}
	25% {
		opacity: 0;
	}
	50% {
		opacity: 0;
	}
	75% {
		opacity: 0;
	}
	90% {

	}
	100% {
		opacity: 1;
	}
}
@-o-keyframes fadeIn {
	0% {
		opacity: 0;
	}
	25% {
		opacity: 0;
	}
	50% {
		opacity: 0;
	}
	75% {
		opacity: 0;
	}
	90% {

	}
	100% {
		opacity: 1;
	}
}
@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	25% {
		opacity: 0;
	}
	50% {
		opacity: 0;
	}
	75% {
		opacity: 0;
	}
	90% {

	}
	100% {
		opacity: 1;
	}
}